############################
# General Setup
############################
APPLICATION=../code

### Data Path:

DATA_SAVE_PATH=/tmp

### shadowsocks Config
SHADOWSOCKS_PWD=xxxxxxx
SHADOWSOCKS_VERSION=latest
SHADOWSOCKS_METHOD=aes-256-gcm
SHADOWSOCKS_PORT=8388
SHADOWSOCKS_DNS=8.8.8.8,8.8.4.4

### jetbrains Config
JLS_VERSION=latest
